include __pkginfo__.py
include LICENSE
include requirements.txt
recursive-exclude **/__pycache__ *
include msp2lib.1
recursive-include msp2lib *
recursive-include msp2lib *.pyi
include msp2lib/py.typed
